<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    {% comment %} <link rel="stylesheet" href=" {% static "./bootstrap/css/bootstrap.min.css" %} "> {% endcomment %}

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'blogpost_list' %}">Home</a></li>
                <li><a href="{% url 'blogpost_new' %}"  >New Post</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
       
        {% endblock %}
    </main>

    <footer>
        <p> &copy; 2024 My Blog</p>
    </footer>
</body>
</html>
